<!doctype html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title><%= locals.title ?? '' %></title>
  <link rel="stylesheet" href="/styles.css">
  <script type="module" src="/main.js"></script>
</head>

<body>
  <main>

    <header>
      <h1><%= locals.title ?? '' %></h1>
    </header>
